@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.otf');
}

/* Home Page */
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.outer_rel {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}

.selection_button {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 700%;
    font-family: Quicksand;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgba(255,255,255,0.15);
}

.name_input {
    font-size: 600%;
    font-family: Quicksand;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.05);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.message {
    width: 96%;
    text-align: center;
    display: block;
    font-size: 350%;
    font-family: Quicksand;
    color: white;
    padding: 2%;
    padding-top: 4%;
}

/* Pin Page */
.pin_input {
    font-size: 800%;
    font-family: Quicksand;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.05);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 1%;

}

.join_button {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 600%;
    font-family: Quicksand;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgba(255,255,255,0.15);

}

.name_desc {
    display: inline-block;
    width: 65%;
    color: white;
    font-size: 250%;
    font-family: Quicksand;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: rgba(255,255,255,0.05);
    float: left;
    margin-right: 3%;

}

.name_button {
    display: inline-block;
    width: 32%;
    color: white;
    font-size: 250%;
    font-family: Quicksand;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: rgba(255,255,255,0.15);
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

/* Play and Bank Page */
.section_divider {
    border-top: 3px black solid;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.green_top {
    display: inline-block;
    width: 100%;
    height: 10%;
    background: rgb(60, 126, 216);
}

.play_name_title {
    height: 100%;
    display: block;
    font-family: Quicksand;
    font-size: 500%;
    float: right;
}

.banker_switch {
    height: 90%;
    padding-left: 5%;
    padding-top: 5%;
}

.bal {
    font-family: Quicksand;
    font-size: 800%;
    color: white;
}

.user_select {
    height: 100%;
    width: 100%;
    font-size: 500%;
    background: none;
    border: none;
    direction: rtl;
    padding-right: 10%;
}

.play_amount_entry {
    width: 80%;
    height: 100%;
    font-size: 550%;
    background: none;
    text-align: right;
    padding: 2%;
    color: white;
    border: none
}

.play_go {
    height: 100%;
    width: 100%;
    font-size: 700%;
    font-family: Quicksand;
    border: none;
}

.play_scroll_log {
    width: 100%;
    height: 10%;
    display: block;
    margin: 1px;
    margin-left: 2%;
    color: white;
    font-size: 180%;
    font-family: Quicksand;
}

.play_bottom_btns {
    font-family: Quicksand;
    font-size: 500%;
    text-decoration: none;
    color: black;
}


/* Universal */
body {
    background: #424242;
    margin: 0px;
}

select {
    -webkit-appearance: none;
}

.border_in {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.in_scroll {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.green_btn {
    background: rgba(76,175,80, 1);
}

.red_btn {
    background: rgba(244,67,54, 1);
}

.white_text {
    color: white;
    font-family: Quicksand;
}