@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.otf');
}

/* Home Page */
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.selection_button {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 700%;
    font-family: Quicksand;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgba(255,255,255,0.15);
}

.name_input {
    font-size: 600%;
    font-family: Quicksand;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.05);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 1%;
}

.message {
    width: 96%;
    text-align: center;
    display: block;
    font-size: 350%;
    font-family: Quicksand;
    color: white;
    padding: 2%;
    padding-top: 4%;
}

/* Pin Page */
.pin_input {
    font-size: 800%;
    font-family: Quicksand;
    width: 100%;
    text-align: center;
    background: rgba(255,255,255,0.05);
    border: 1px solid white;
    color: white;
    border-radius: 20px;
    padding-bottom: 1%;
    padding-top: 1%;

}

.join_button {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 600%;
    font-family: Quicksand;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgba(255,255,255,0.15);

}

.name_desc {
    display: inline-block;
    width: 65%;
    color: white;
    font-size: 250%;
    font-family: Quicksand;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: rgba(255,255,255,0.05);
    float: left;
    margin-right: 3%;

}

.name_button {
    display: inline-block;
    width: 32%;
    color: white;
    font-size: 250%;
    font-family: Quicksand;
    text-decoration: none;
    border: solid 1px white;
    border-radius: 8px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: rgba(255,255,255,0.15);
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}

/* Play Page */


/* Bank Page */


/* Universal */
body {
    background: #424242;
    margin: 0px;
}