{% extends "SKELETON.html" %}
{% block content %}

<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};


    var close_png_src = "{{ url_for('static', filename='./icons/close.png') }}"
    var edit_png_src = "{{ url_for('static', filename='./icons/edit.png') }}"

    $(document).ready(function(){
        bank_refresh();
        bank_background_checks();
    });
</script>

<!--Top Display-->
<div class="green_top">
    <div style="width: 20%; height; 100%; float: left;">
        <a href="/play/">
            <img src="{{ url_for('static', filename='./icons/play.png') }}" class="banker_switch">
        </a>
    </div>
    <div class="outer_rel" style="width: 80%; float: right;">
        <div class="middle">
            <div class="inner">
                <a class="play_name_title">Bank {{ game_pin }}</a>
            </div>
        </div>
    </div>
</div>

<!--Body-->
<div style="width: 100%; height: 90%;">
    <!--Transfer Money-->
    <div style="height: 28%; width: 100%;" class="section_divider">
        <div style="height: 100%; width: 30%; float: right;">
            <button id="send_money" class="green_btn play_go" onclick="javascript:send_money(true);">Go</button>
        </div>
        <div style="height: 50%; width: 70%; float: left;">
            <select id="send_money_player" class="user_select white_text">
                <option value="" disabled selected>Player</option>
            </select>
        </div>
        <div style="height: 50%; width: 70%; float: left;">
            <input id="send_money_amount" type="number" class="play_amount_entry" placeholder="Amount">
            <a id="send_money_MK" class="white_text" style="height; 100%; width: 20%; font-size: 650%;" onclick="switch_char(this)">K</a>
        </div>
    </div>

    <!--Send Free Parking-->
    <div style="height: 15%; width: 100%;" class="section_divider">
        <div class="outer_rel" style="width: 30%; float: left;">
            <div class="middle">
                <div class="inner">
                    <a id="free_parking" class="white_text" style="font-size: 300%; height: 100%; width: 100%; display: block; text-align: center;">Amount: 0K</a>
                </div>
            </div>
        </div>
        <div style="height; 100%; width: 70%; float: right;">
            <div style="height: 100%; width: 57%; float: left;">
                <select id="send_free_parking_player" class="user_select white_text" style="font-size: 300%;">
                    <option value="" disabled selected>Player</option>
                </select>
            </div>
            <button id="send_free_parking" class="green_btn play_go" style="width: 43%; float: right;" onclick="javascript:send_free_parking();">Go</button>
        </div>
    </div>

    <!--Manage Players (edit names and remove-->
    <div style="height: 19%; width: 100%;" class="section_divider">
        <div id="active_players" class="in_scroll">
            <!--Individuals-->
            <!--<div style="width: 100%; height: 30%; display: block;">-->
                <!--<div style="width: 50%; height: 100%; margin-left: 15%; margin-right: 0px; float: left;">-->
                    <!--<div class="outer_rel">-->
                        <!--<div class="middle">-->
                            <!--<div class="inner">-->
                                <!--<a class="white_text" style="font-size: 350%; float: left;">Brent</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div style="width: 10%; height: 100%; float: right; margin-right: 15%;">-->
                    <!--<img src="{{ url_for('static', filename='./icons/close.png') }}" style="height: 100%;">-->
                <!--</div>-->
                <!--<div style="width: 10%; height: 100%; float: right;">-->
                    <!--<img src="{{ url_for('static', filename='./icons/edit.png') }}" class="banker_switch">-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    <!--Edit Balance Of Player-->
    <div style="height: 18%; width: 100%;" class="section_divider">
        <div style="height: 100%; width: 30%; float: right;">
            <button id="set_player_bal" class="green_btn" style="height: 100%; width: 100%; font-size: 700%; font-family: Quicksand; border: none;" onclick="javascript:set_balance();">Go</button>
        </div>
        <div style="height: 50%; width: 70%; float: left;">
            <select id="set_player_bal_player" class="user_select white_text" style="font-size: 300%;">
                <option value="" disabled selected>Player</option>
            </select>
        </div>
        <div style="height: 50%; width: 70%; float: left;">
            <input id="set_player_bal_amount" type="number" class="play_amount_entry" style="font-size: 300%;" placeholder="Amount">
            <a id="set_player_bal_MK" class="white_text" style="height; 100%; width: 20%; font-size: 400%;" onclick="switch_char(this)">K</a>
        </div>
    </div>

    <!--Who Starts First-->
    <div style="height: 8%; width: 100%;" class="section_divider">
        <div class="outer_rel">
            <div class="middle">
                <div class="inner">
                    <a class="white_text" style="font-size: 300%; text-align: center; display: block;" onclick="javascript:who_starts_first();">Who starts first?</a>
                </div>
            </div>
        </div>
    </div>

    <!--Lock and End-->
    <div style="height: 12%; width: 100%;" class="section_divider">
        <div class="green_btn" style="width: 50%; height: 100%; float: left;">
            <div class="outer_rel">
                <div class="middle">
                    <div class="inner">
                        <a id="lock_button" class="play_bottom_btns" onclick="javascript:switch_lock();">Open</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="red_btn" style="width: 50%; height: 100%; float: right;">
            <div class="outer_rel">
                <div class="middle">
                    <div class="inner">
                        <a class="play_bottom_btns" onclick="javascript:leave_prep('end the game?');">End</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}