{% extends "SKELETON.html" %}
{% block content %}
    <body>
        <div class="outer">
            <form action="/" method="POST" class="middle">
                <div class="inner">
                    <button name="player" class="selection_button">Player</button>
                </div>
                <div class="inner" style="margin-top: 10%;">
                    <button name="banker" class="selection_button">Banker</button>
                </div>
                <div class="inner" style="margin-top: 10%;">
                    <input type="text" name="name" placeholder="Name" class="name_input">
                </div>
            </form>
        </div>
        {% if message != None %}
        <a class="message">{{ message }}</a>
        {% endif %}
    </body>
{% endblock %}