{% extends "SKELETON.html" %}
{% block content %}
    <body>
        <div class="outer">
            <form action="/pin/" method="POST" class="middle">
                <div class="inner">
                    <input type="number" id="pin" name="pin" placeholder="Game Pin" class="pin_input" maxlength="6">
                </div>
                <div class="inner" style="margin-top: 3%;">
                    <button name="join" class="join_button">Join</button>
                </div>
            </form>
        </div>
    </body>
    <script>
        var red_fade = true;
        if (red_fade) {
            $("#pin").css("background", "rgba(224, 31, 31,0.35)");
            $('#pin').fadeTo('slow', 0.3, function()
            {
                $(this).css('background', 'rgba(255,255,255,0.05)');
            }).delay(1000).fadeTo('slow', 1);
        }
    </script>
{% endblock %}