{% extends "SKELETON.html" %}
{% block content %}
    <body>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <input type="number" id="pin" name="pin" placeholder="Game Pin" class="pin_input" maxlength="6">
                </div>
                <div class="inner" style="margin-top: 3%;">
                    <a id="join" class="join_button">Join</a>
                </div>
                <div class="inner" style="margin-top: 3%;">
                    <a class="name_desc">Name: {{ name }}</a>
                    <a id="chaneName" class="name_button">Change</a>
                </div>
            </div>
        </div>
    </body>
    <script>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(function() {
            $('#join').bind('click', function() {
                $.post($SCRIPT_ROOT + '/pin/', {
                    pin: $('input[name="pin"]').val()
                }, function(data) {
                    check_pin_response(data);
                });
            return false;
            });

            $('#chaneName').click(function() {
                leave();
            });
        });
    </script>
{% endblock %}