{% extends "SKELETON.html" %}
{% block content %}
    <body>
        <div class="outer">
            <form action="/pin/" method="POST" class="middle">
                <div class="inner">
                    <input type="number" id="pin" name="pin" placeholder="Game Pin" class="pin_input" maxlength="6" style="background: rgba(224, 31, 31,0.35);">
                </div>
                <div class="inner" style="margin-top: 3%;">
                    <button name="join" class="join_button">Join</button>
                </div>
            </form>
        </div>
    </body>
    <script>
        $(document).ready(function() {
            $("#pin").css("transition", "background 2s ease");
            $("#pin").css("background", "rgba(255,255,255,0.05)");
        });
    </script>
{% endblock %}