{% extends "SKELETON.html" %}
{% block content %}

<script>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    $(document).ready(function(){
        play_refresh();
        play_background_checks();
    });
</script>

<!--Top Display-->
<div class="green_top">
    {% if type == 'banker' %}
    <div style="width: 20%; height; 100%; float: left;">
        <a href="/bank/">
            <img src="{{ url_for('static', filename='./icons/bank.png') }}" class="banker_switch">
        </a>
    </div>
    {% endif %}
    <div class="outer_rel" style="width: 80%; float: right;">
        <div class="middle">
            <div class="inner">
                <a class="play_name_title">{{ name }}</a>
            </div>
        </div>
    </div>
</div>

<!--Body-->
<div style="width: 100%; height: 90%;">
    <!--Balance-->
    <div style="height: 17%; width: 100%;" class="section_divider">
        <div class="outer_rel">
            <div class="middle">
                <div class="inner">
                    <a id="balance" class="bal" onclick="switch_balance_format(this);">0M</a>
                </div>
            </div>
        </div>
    </div>

    <!--Transfer Money-->
    <div style="height: 28%; width: 100%;" class="section_divider">
        <div style="height: 100%; width: 30%; float: right;">
            <button id="send_money" class="play_go green_btn" onclick="javascript:send_money(false);">Go</button>
        </div>
        <div style="height: 50%; width: 70%; float: left;">
            <select id="send_money_player" class="white_text user_select">
                <option value="" disabled selected>Player</option>
            </select>
        </div>
        <div style="height: 50%; width: 70%; float: left;">
            <input id="send_money_amount" type="number" class="play_amount_entry" placeholder="Amount">
            <a id="send_money_MK" class="white_text" style="height; 100%; width: 20%; font-size: 650%;" onclick="switch_char(this)">K</a>
        </div>
    </div>

    <!--Free Parking-->
    <div style="height: 12%; width: 100%;" class="section_divider">
        <div class="outer_rel">
            <div class="middle">
                <div class="inner">
                    <a class="white_text" style="font-size: 400%; margin-right: 3%;">Free Parking:</a>
                    <a id="free_parking" class="white_text" style="font-size: 400%;" onclick="switch_balance_format(this);">0K</a>
                </div>
            </div>
        </div>
    </div>

    <!--Logs-->
    <div style="height: 30%; width: 100%;" class="section_divider">
        <div id="logs" class="in_scroll"></div>
    </div>

    <!--Bottom Buttons-->
    <div style="height: 13%; width: 100%;" class="section_divider">
        <div class="green_btn" style="width: 50%; height: 100%; float: left;">
            <div class="outer_rel">
                <div class="middle">
                    <div class="inner">
                        <a class="play_bottom_btns" onclick="javascript:window.location.reload(true)">Refresh</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="red_btn" style="width: 50%; height: 100%; float: right;">
            <div class="outer_rel">
                <div class="middle">
                    <div class="inner">
                        <a class="play_bottom_btns" onclick="javascript:leave_prep('leave?');">Leave</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}