<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Memes">
		<meta name="author" content="Brent Vollebregt">
        <meta name="viewport" content="width=device-width, initial-scale=0.5">
        <meta name="theme-color" content="#424242"/>
        <link rel="icon" sizes="256x256" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>Monopoly Manager</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>