@import "~bootstrap/scss/bootstrap.scss";

.navigation {
  .icon-button {
    @media (max-width: map-get($grid-breakpoints, sm)) {
      padding-left: ($spacer * 0.5) !important;
      padding-right: ($spacer * 0.5) !important;
    }
  }
}
